In [1]:
import pandas as pd

In [2]:
data = {
    'city' : ['Toronto', 'Montreal', 'Waterloo'],
    'points' : [80, 70, 90]
}

In [3]:
data

{'city': ['Toronto', 'Montreal', 'Waterloo'], 'points': [80, 70, 90]}

In [4]:
type(data)

dict

In [5]:
df = pd.DataFrame(data)

In [6]:
df

       city  points
0   Toronto      80
1  Montreal      70
2  Waterloo      90

In [7]:
def get_bonus(x):
    if (x > 75):
        return x + 10
    return x

In [8]:
df['new_points'] = df['points'].apply(lambda x: get_bonus(x))

In [9]:
df['new_points']

0     90
1     70
2    100
Name: new_points, dtype: int64

In [10]:
df

       city  points  new_points
0   Toronto      80          90
1  Montreal      70          70
2  Waterloo      90         100