In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'sam' : ['archery', 'badminton', 'athletics', 'cycling_road', 'canoe_sprint', 'boxing'],
    'medal' : ['gold', 'silver', 'bronze', 'gold', 'gold', 'silver']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

            sam   medal
0       archery    gold
1     badminton  silver
2     athletics  bronze
3  cycling_road    gold
4  canoe_sprint    gold
5        boxing  silver

In [5]:
def get_medal_points(medal):
    if(medal == 'gold'):
        return 10
    
    if(medal == 'silver'):
        return 5
    
    if(medal == 'bronze'):
        return 1
    
    return 0

In [6]:
df['medal_points'] = df['medal'].apply(get_medal_points)

In [7]:
df

            sam   medal  medal_points
0       archery    gold            10
1     badminton  silver             5
2     athletics  bronze             1
3  cycling_road    gold            10
4  canoe_sprint    gold            10
5        boxing  silver             5