In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('data1.csv')

In [4]:
df

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30
4         2     30      40
5         7     10      23
6         3     20      22
7         8     20      11
8         2     30       2

In [5]:
df.shape

(9, 3)

In [6]:
dfr = df.iloc[:4]

In [7]:
dfr

   capacity  score  length
0         1     10      30
1         2     20      30
2         3     30      40
3         3     40      30

In [8]:
# Get first four columns and 2 columns

dfr2 = df.iloc[:4, :2]

In [9]:
dfr2

   capacity  score
0         1     10
1         2     20
2         3     30
3         3     40