In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'dinner' : ['chicken wrap', 'stake', 'rudy burger', 'sushi', 'chicken teriyaki', 'caesar salad']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

             dinner
0      chicken wrap
1             stake
2       rudy burger
3             sushi
4  chicken teriyaki
5      caesar salad

In [5]:
def get_food_points(food):
    if('chicken' in food):
        return 2
    
    if('stake' in food):
        return 1
    
    if('burger' in food):
        return 1

    if('salad' in food):
        return 7
    
    return None

In [7]:
df['food_points'] = df['dinner'].apply(get_food_points)

In [8]:
df

             dinner  food_points
0      chicken wrap          2.0
1             stake          1.0
2       rudy burger          1.0
3             sushi          NaN
4  chicken teriyaki          2.0
5      caesar salad          7.0