In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'maths' : [80, 89, 90, 20],
    'science' : [40, 50, 90, 100],
    'language' : [20, 30, 90, 95]
})

In [3]:
df

   maths  science  language
0     80       40        20
1     89       50        30
2     90       90        90
3     20      100        95

In [4]:
df['masc_pass'] = np.where((df['maths'] > 50) & (df['science'] > 50), 'pass', 'fail')

In [5]:
df

   maths  science  language masc_pass
0     80       40        20      fail
1     89       50        30      fail
2     90       90        90      pass
3     20      100        95      fail

In [6]:
df['pass'] = np.where((df['maths'] > 50) & (df['science'] > 50) & (df['language'] > 50), 'pass', 'fail')

In [7]:
df

   maths  science  language masc_pass  pass
0     80       40        20      fail  fail
1     89       50        30      fail  fail
2     90       90        90      pass  pass
3     20      100        95      fail  fail