In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='object')

In [3]:
df

   a  b
0  7  3
1  1  2
2  5  1

In [4]:
df.dtypes

a    object
b    object
dtype: object

In [5]:
df = df.infer_objects()

In [6]:
df.dtypes

a     int64
b    object
dtype: object

In [7]:
# You can see that dataype of column a is changed to int64.