In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='object')

In [3]:
df

   a  b
0  7  3
1  1  2
2  5  1

In [4]:
df.dtypes

a    object
b    object
dtype: object

In [5]:
# Let's set the datatype as integer
df1 = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='int')

/home/snekha/miniconda3/envs/py38/lib/python3.8/site-packages/numpy/core/numeric.py:2378: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return bool(asarray(a1 == a2).all())

In [6]:
df1

   a  b
0  7  3
1  1  2
2  5  1

In [7]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
df1.dtypes

a    int64
b    int64
dtype: object