In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    'one': [4, 5],
    'two': [10, 20]
})

In [3]:
df

   one  two
0    4   10
1    5   20

In [4]:
df['one']+2

0    6
1    7
Name: one, dtype: int64

In [5]:
df['one'][0]

4

In [6]:
df['one'][0] = np.nan

In [7]:
df['one'][0]

nan

In [8]:
df

   one  two
0  NaN   10
1  5.0   20

In [9]:
df['one']+3

0    NaN
1    8.0
Name: one, dtype: float64

In [10]:
df['two'].astype('int')

0    10
1    20
Name: two, dtype: int64

In [11]:
df['one'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [12]:
print (type(np.nan))

<class 'float'>