In [1]:
import numpy as np
import pandas as pd

In [2]:
# Create Random integer between 1 to 100

df = pd.DataFrame(np.random.randint(0, 100, size=(2, 4)), columns=['A', 'B', 'C', 'D'])

In [3]:
df

    A   B   C   D
0  63  44  76  35
1  97  20  75  45

In [4]:
df.shape

(2, 4)

In [5]:
df.describe()

               A          B          C          D
count   2.000000   2.000000   2.000000   2.000000
mean   80.000000  32.000000  75.500000  40.000000
std    24.041631  16.970563   0.707107   7.071068
min    63.000000  20.000000  75.000000  35.000000
25%    71.500000  26.000000  75.250000  37.500000
50%    80.000000  32.000000  75.500000  40.000000
75%    88.500000  38.000000  75.750000  42.500000
max    97.000000  44.000000  76.000000  45.000000

In [6]:
df.ndim

2