In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(5, size = (5, 4)))

In [3]:
df

   0  1  2  3
0  3  2  1  4
1  4  0  4  0
2  0  0  2  1
3  4  3  1  4
4  2  4  4  0