In [1]:
import pandas as pd

In [2]:
data = {
    'Month' : [1, 2, 3],
    'Temp' : [7, -18, -20]
}

In [3]:
data

{'Month': [1, 2, 3], 'Temp': [7, -18, -20]}

In [4]:
type(data)

dict

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   Month  Temp
0      1     7
1      2   -18
2      3   -20

In [7]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

In [8]:
df.style.applymap(color_negative_red)

In [9]:
df

   Month  Temp
0      1     7
1      2   -18
2      3   -20

In [10]:
# Highlight max (axis = 0)
# https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html

df.style.highlight_max(axis = 0)

In [11]:
def highlight_max_rj(s, color = 'lightgreen'):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: '+color if v else '' for v in is_max]

In [12]:
df.style.apply(highlight_max_rj, color = 'lightblue',  axis = 0, subset=['Temp'])

In [13]:
df.style.apply(highlight_max_rj, axis = 1, subset = ['Temp'])