In [1]:
import numpy as np
import pandas as pd

In [2]:
datatype = [('one', 'int32'), ('two', 'int32')]

In [3]:
values = np.zeros(3, dtype = datatype)

In [4]:
currrent_index = ['Row '+str(i) for i in range(1, 4)]

In [5]:
df = pd.DataFrame(values, index = currrent_index)

In [6]:
df

       one  two
Row 1    0    0
Row 2    0    0
Row 3    0    0

In [7]:
df.shape

(3, 2)

In [8]:
df.ndim

2